USE [master]
GO
/****** Object:  Database [dbDS2]    Script Date: 25/05/2022 19:18:56 ******/
CREATE DATABASE [dbDS2]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbDS2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbDS2]
GO
/****** Object:  Table [dbo].[tblClientes]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClientes](
	[CodCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](70) NOT NULL,
	[CPF] [char](11) NOT NULL,
	[Nascimento] [datetime] NOT NULL,
 CONSTRAINT [PK_tblClientes] PRIMARY KEY CLUSTERED 
(
	[CodCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTelefone]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTelefone](
	[CodigoCliente] [int] NOT NULL,
	[NumeroTelefone] [varchar](15) NOT NULL,
	[CodigoTelefoneTipo] [int] NOT NULL,
 CONSTRAINT [PK_tblTelefone] PRIMARY KEY CLUSTERED 
(
	[CodigoCliente] ASC,
	[NumeroTelefone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTelefoneTipo]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTelefoneTipo](
	[CodigoTelefoneTipo] [int] IDENTITY(1,1) NOT NULL,
	[DescricaoTelefoneTipo] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tblTelefoneTipo] PRIMARY KEY CLUSTERED 
(
	[CodigoTelefoneTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblTelefone]  WITH CHECK ADD  CONSTRAINT [FK_tblTelefone_tblClientes] FOREIGN KEY([CodigoCliente])
REFERENCES [dbo].[tblClientes] ([CodCliente])
GO
ALTER TABLE [dbo].[tblTelefone] CHECK CONSTRAINT [FK_tblTelefone_tblClientes]
GO
ALTER TABLE [dbo].[tblTelefone]  WITH CHECK ADD  CONSTRAINT [FK_tblTelefone_tblTelefoneTipo] FOREIGN KEY([CodigoTelefoneTipo])
REFERENCES [dbo].[tblTelefoneTipo] ([CodigoTelefoneTipo])
GO
ALTER TABLE [dbo].[tblTelefone] CHECK CONSTRAINT [FK_tblTelefone_tblTelefoneTipo]
GO
/****** Object:  StoredProcedure [dbo].[_uspConsultaCliente_JOIN]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[_uspConsultaCliente_JOIN]
	@CodCliente INT

AS
BEGIN
	
	SELECT
		tblClientes.CodCliente,
		tblClientes.Nome,
		tblTelefone.NumeroTelefone,
		tblTelefoneTipo.DescricaoTelefoneTipo
	FROM
		tblClientes

	JOIN tblTelefone ON tblClientes.CodCliente = tblTelefone.CodigoCliente

	JOIN tblTelefoneTipo ON tblTelefone.CodigoTelefoneTipo = tblTelefoneTipo.CodigoTelefoneTipo

	WHERE
		tblClientes.CodCliente = @CodCliente

END

GO
/****** Object:  StoredProcedure [dbo].[_uspInserirClienteTelefone]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[_uspInserirClienteTelefone]
	@Nome VARCHAR(70),
	@CPF CHAR(11),
	@Nascimento DATE,
	@Telefone VARCHAR(15) = NULL,
	@CodigoTelefoneTipo INT = NULL

AS
BEGIN

	BEGIN TRY
		BEGIN TRAN

			INSERT INTO tblClientes (Nome, CPF, Nascimento)
				VALUES (@Nome, @CPF, @Nascimento)

			DECLARE @IDClienteNovo AS INT = @@IDENTITY

			INSERT INTO tblTelefone (CodigoCliente, NumeroTelefone, CodigoTelefoneTipo)
				VALUES (@IDClienteNovo, @Telefone, @CodigoTelefoneTipo)

			SELECT @IDClienteNovo AS Retorno
		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH


END



GO
/****** Object:  StoredProcedure [dbo].[uspAlterarCliente]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspAlterarCliente]
	@CodCliente INT,
	@Nome VARCHAR(70),
	@CPF CHAR(11),
	@Nascimento DATETIME
AS
BEGIN
	BEGIN TRY
		BEGIN TRAN

			UPDATE tblClientes
				SET Nome = @Nome, CPF = @CPF, Nascimento = @Nascimento
			WHERE
				CodCliente = @CodCliente

			SELECT @CodCliente AS Retorno

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[uspAlterarTelefone]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspAlterarTelefone]
	@CodigoCliente INT,
	@NumeroTelefone VARCHAR(15),
	@TelefoneAntigo VARCHAR(15),
	@CodigoTelefoneTipo INT

AS
BEGIN
	BEGIN TRY
		BEGIN TRAN

			UPDATE tblTelefone
				SET NumeroTelefone = @NumeroTelefone, CodigoTelefoneTipo = @CodigoTelefoneTipo
			WHERE CodigoCliente = @CodigoCliente AND NumeroTelefone = @TelefoneAntigo

			SELECT @CodigoCliente AS Retorno

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[uspAlterarTelefoneTipo]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspAlterarTelefoneTipo]
	@CodigoTelefoneTipo INT,
	@DescricaoTelefoneTipo VARCHAR(30)
AS
BEGIN
	BEGIN TRY
		BEGIN TRAN

			UPDATE tblTelefoneTipo
				SET DescricaoTelefoneTipo = @DescricaoTelefoneTipo
			WHERE CodigoTelefoneTipo = @CodigoTelefoneTipo

			SELECT @CodigoTelefoneTipo AS Retorno

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[uspConsultaClienteCodigo]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[uspConsultaClienteCodigo]
	@CodigoCliente	INT

AS
BEGIN
	BEGIN TRY
		BEGIN TRAN

			SELECT * FROM tblClientes WHERE CodCliente = @CodigoCliente

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[uspConsultaClienteNome]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspConsultaClienteNome]
	@Nome VARCHAR(70)

AS
BEGIN
	BEGIN TRY
		BEGIN TRAN

			SELECT * FROM tblClientes WHERE Nome LIKE '%' +  @Nome + '%'

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[uspConsultaTelefone]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspConsultaTelefone]

AS
BEGIN
	BEGIN TRY
		BEGIN TRAN
			
			SELECT
				tblTelefone.CodigoCliente,
				tblTelefone.NumeroTelefone,
				tblTelefone.CodigoTelefoneTipo,
				tblTelefoneTipo.DescricaoTelefoneTipo

			FROM tblTelefone

			JOIN tblTelefoneTipo ON tblTelefone.CodigoTelefoneTipo = tblTelefoneTipo.CodigoTelefoneTipo

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[uspConsultaTelefoneCodigoCliente]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspConsultaTelefoneCodigoCliente]
	@CodigoCliente INT

AS
BEGIN
	BEGIN TRY
		BEGIN TRAN
			
			SELECT
				tblTelefone.CodigoCliente,
				tblTelefone.NumeroTelefone,
				tblTelefone.CodigoTelefoneTipo,
				tblTelefoneTipo.DescricaoTelefoneTipo

			FROM tblTelefone

			JOIN tblTelefoneTipo ON tblTelefone.CodigoTelefoneTipo = tblTelefoneTipo.CodigoTelefoneTipo

			WHERE CodigoCliente = @CodigoCliente

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[uspConsultaTelefoneTipo]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspConsultaTelefoneTipo]
	
AS
BEGIN
	BEGIN TRY
		BEGIN TRAN

			SELECT * FROM tblTelefoneTipo

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[uspExcluirCliente]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspExcluirCliente]
	@CodCliente INT
AS
BEGIN
	BEGIN TRY
		BEGIN TRAN

			DELETE FROM tblClientes
				WHERE CodCliente = @CodCliente

			SELECT @CodCliente AS Retorno

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[uspExcluirTelefone]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspExcluirTelefone]
	@CodigoCliente INT,
	@NumeroTelefone VARCHAR(15)
AS
BEGIN
	BEGIN TRY
		BEGIN TRAN

			DELETE FROM tblTelefone
				WHERE CodigoCliente = @CodigoCliente AND NumeroTelefone = @NumeroTelefone

			SELECT @CodigoCliente AS Retorno

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[uspExcluirTelefoneTipo]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspExcluirTelefoneTipo]
	@CodigoTelefoneTipo INT
AS
BEGIN
	BEGIN TRY
		BEGIN TRAN

			DELETE FROM tblTelefoneTipo
				WHERE CodigoTelefoneTipo = @CodigoTelefoneTipo

			SELECT @CodigoTelefoneTipo AS Retorno

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH
END




GO
/****** Object:  StoredProcedure [dbo].[uspInserirCliente]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspInserirCliente]
	@Nome VARCHAR(70),
	@CPF CHAR(11),
	@Nascimento DATETIME

AS
BEGIN

	BEGIN TRY
		BEGIN TRAN

			INSERT INTO tblClientes (Nome, CPF, Nascimento)
				VALUES (@Nome, @CPF, @Nascimento)

			DECLARE @IDClienteNovo AS INT = @@IDENTITY

			SELECT @IDClienteNovo AS Retorno
		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH


END

GO
/****** Object:  StoredProcedure [dbo].[uspInserirTelefone]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspInserirTelefone]
	@CodigoCliente INT,
	@NumeroTelefone VARCHAR(15),
	@CodigoTelefoneTipo INT

AS
BEGIN

	BEGIN TRY
		BEGIN TRAN

			INSERT INTO tblTelefone(CodigoCliente, NumeroTelefone, CodigoTelefoneTipo)
				VALUES (@CodigoCliente, @NumeroTelefone, @CodigoTelefoneTipo)

			SELECT @CodigoCliente AS Retorno
		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH


END

GO
/****** Object:  StoredProcedure [dbo].[uspInserirTelefoneTipo]    Script Date: 25/05/2022 19:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspInserirTelefoneTipo]
	/*@CodigoTelefoneTipo INT,*/
	@DescricaoTelefoneTipo VARCHAR(30)

AS
BEGIN
	BEGIN TRY
		BEGIN TRAN

			INSERT INTO tblTelefoneTipo (DescricaoTelefoneTipo)
				VALUES (@DescricaoTelefoneTipo)

			SELECT @@IDENTITY as Retorno

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK
		SELECT ERROR_MESSAGE() AS Retorno
	END CATCH
END




GO
USE [master]
GO
